.navbar{
    height: 64px;
    width: 1349px;
    
}

.img_background_doctor{
    background-repeat: no-repeat;
    background-size: 400px;
    height: 300px;
    background-position: right bottom;
    background: linear-gradient(#00b2ff, #006bff);
}

.link-profile{
    text-align: center;
}

.menu-size{
    font-size: 14px;
    margin-right: 30px;
    margin-left: -30px;
}

.searchInput{
    width: 362px;
    height: 42px;
    padding: 1px 0px 1px 40px;
    font-size: 14px;
}

.nav-link{
    font-size: 14px;
    margin-right: 10px;
}

.sr-only{
    padding: 10px;
    padding-left: -10px;
}


.btn-download{
    width: 208px;
    height: 40px;
    font-size: 14px;
    padding-top: 2px;
    margin-left: 8px;
    margin-right: -10px;
    margin-bottom: 2px;
    background-color: #3570D2;
}

.btn-masuk{
    width: 79px;
    height: 42px;
    font-size: 14px;
    padding-top: 2px;
}

.col-12{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 23.04px;
    word-spacing: 0px;
    font-weight: 500;
    padding-bottom: 25px;
   
}

.jdl{
    font-weight: bold;
    letter-spacing: 0.9;
    margin-top: -5px;
    margin-bottom: 12px;
}

.breadcrumb{
    margin-left: -15px;
    font-size: 12px;
    
}

.hdr-2{
    padding-top: 5px;
    margin-left: 160px;
}

.list{
    margin-left: -18px;
    margin-bottom: 26px;
}

.srch {
    font-size: 12px;
    margin-bottom: 3px;
    margin-top: -5px;
}

.lok{
    font-size: 12px;
    margin-bottom: 3px;
    margin-top: -5px;
    margin-left: 20px;
}

.search-form input {
    border: none;
    width: 100%;
    font-size: 16px;
    
}

.searchLocation{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 23.04px;
    word-spacing: 0px;

    height: 52px;
    width: 350px;
    background-position: center left 15px;
    background-repeat: no-repeat;
    text-indent: 48px;
    margin-left: 20px;
    border: none;
    padding-bottom: 5px;
}

#searchSpecialities{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 23.04px;
    word-spacing: 0px;

    height: 52px;
    width: 460px;
    background-position: center left 15px;
    background-repeat: no-repeat;
    text-indent: 48px;
    margin-left: 0px;
    border: none;
    padding-bottom: 5px;
    
}

.btnCari{
    width: 144px;
    height: 52px;
    background-color: #f96d01;
    letter-spacing: 0.9px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    border: 0;
    border-radius: 3px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
}


/*****************/

.container .contain-cariDokter{
    margin-left: 118px;
    margin-top: 90px;
    width: 100%;
}

.subJudul{
    font-size: 22px;
    margin-bottom: 25px;
    margin-left: 38px;
    margin-top: -55px;
    font-weight: 600;
    color: #3B3738;
}

.link-button.expand_category{
    font-size: 16px;
    color: #3570D2;
    font-weight: bold;
    margin-left: 860px;
    margin-top: -45px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.background-dark{
    box-shadow: 0 0 8px 0 #1a173021;
    background-color: rgba(0,0,0,0.45);
    color: white;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 7px;
    
}

.background-dark:hover{
    background-color: rgba(0,0,0,0.60);

}

.hospital-index-title{
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.9;
    color: #FFFFFF;
    text-decoration-color: transparent;
    
    
}

a:-webkit-any-link{
    cursor: pointer;
    text-decoration-color: transparent;
}

.background-top-inner{
    width: 320px;
    height:185px;
    margin-left:15px;
    margin-right:5px;
    margin-bottom: -5px;
    background-size: cover;
}

