.contain-detaildokter{
    margin-left: 170px;
    margin-top: 60px;
}

.main-container{
    width: 667px;
    padding: 0;
    display: inline-block;
    padding-top: 63px;
    margin-top: -80px;
    margin-left: 3px;
    
}

.box-filter{
    width: 300px;
    height: 300px;
    border-radius: 3px;
    background-color: #f9f9f9;
    border: solid 1px #dadee4;
    margin-bottom: 20px;
}

.form-check-label{
    font-size: 18px;
}

.custom-select{
    font-size: 13px;
    font-weight: 500;
}

.darkGrey{
    color: #6b6b6b;
}
.btn-detail{
    width: 100px;
    height: 32px;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
    display: block;
    margin-left: -105px;

}

.btn-janji{
    width: 100px;
    height: 32px;
    background-color: #6b6b6b;
    cursor: pointer;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 10px;
    display: block;
    border: 0;
    border-radius: 3px;
    color: #FFFFFF;
    margin-left: 5px;
    margin-top: -32px;
}

.btn-janji:hover{
    background-color:  #f96d01;
    color: #FFFFFF;
}


.btn-next{
    width: 179px;
    height: 38px;
    background-color: #3570D2;
    margin-left: 513px;
    padding-left: 7px;
    text-align: center;
    font-size: 16px;
}

.doubleright{
    position:absolute;
    margin-left:670px;
    margin-top:13px;
    
}

/**************************/
.description-container{
    margin-bottom: 90px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 25px;
    margin-inline-end: 0px;
    font-weight: 500;
    
}

.sub-judul{
    font-size: 15px;
    font-weight: 500;
    margin-inline-start: 25px;
}

.desc{
    font-size: 15px;
    margin-inline-start: 25px;
}

