.page-footer{
    background-color: #3570d2;
    margin: 0 auto;
    margin-top: 100px;
    border-top: 1px solid #dadee4;
    width: 1349px;
    height: 100%;
}

.footer-inner {
    background-color: #3570d2;
    padding-top: 26pt;
    padding-left: 150px;
    width: 1140px;
    height: 321px;
    margin-left: 50px;
    color: #fff;
}

.banner-footer{
    margin-top: -25px;
    padding: 0px 0;
    background: -webkit-linear-gradient(left, #1c4b9a 0%,#6d97de 83%);
    background: linear-gradient(189deg, #6d97de, #1c4b9a);
    box-shadow: 25px -26px 160px inset #1c4b9a;
    height: 141px;
}

.container-footer {
    width: 1024px;
    margin: 0 auto;
}

.text-banner {
    margin-left: 270px;
    color: #fff;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -100px;
}

.storeimg{
    position: relative;
    margin-left: 935px;
    top: -100px;
}

.appstore{
    position: relative;
    margin-left: 935px;
    top: -90px;
}

.imagephone{
    margin-top: -57px;
    max-width: 237px;
    bottom: -10px;
    left: 0;
}

.footer-data-item li {
    margin: 5px auto;
}

ul li a b{
    color: #ffffff;
}

ul li .footerdesc{
    color: #ffffff;
}

li a b{
    font-size: 18px;
}

span a{
    color: #ffffff;
}

hr{
    color: #ffffff;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    
}

.footer-data-item ul {
    list-style-type: none;
    padding: 0;
}

.aboutus{
    width: 330px;
    height: 187px;
    margin: 0px 0px 30px;
}

.contact{
    width: 330px;
    height: 187px;
    margin-left: 340px;
    margin-top: -220px;
}

.social-media{
    width: 330px;
    height: 187px;
    margin-bottom: -10px;
    margin-left: 680px;
    margin-top: -220px;
}

.footer-row {
    margin: 14px 0;
    display: flex;
    justify-content: space-between;
    margin-left: -15px;
    
}

.socicons-list {
    list-style: none;
    display: flex;
    justify-content: center;
   }
   .socicons-list li {
    margin: 30px 15px;
    margin-bottom: -5px;
   }
   .socicons-list li a {
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 60%;
    color: #3570d2;
    background-color: #f1f1f1;
   }

   .socicons-list li:nth-child(1) a {
       background-color: #ffffff;
    /* background-color: #3e5b98; */
   }
   .socicons-list li:nth-child(2) a {
    background-color: #ffffff;
    /* background-color: #c13584; */
   }
   .socicons-list li:nth-child(3) a {
    background-color: #ffffff;
    /* background-color:#dd4b39; */
   }
   .socicons-list li:nth-child(4) a {
    background-color: #ffffff;
    /* background-color:  #4da7de; */
   }
   .socicons-list li:nth-child(5) a {
    background-color: #ffffff;
    /* background-color: #1769ff; */
   }


.footer-data-tittle{
    color: #000000 !important;
    font-size: 18px;
    font-weight: bold;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 35px;
}

.footer-data-link{
    margin-right: 20px;
}
